<!doctype html>
<html lang="{{language}}">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="application-name" content="Pen'n'Paperless">
		<meta name="description" content="Character overview">
		<meta name="author" content="{{ character.name }}">
		<title>
			{{ character.name }} — Overview
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<!-- Required, otherwise browser will send a request for the favicon.ico -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<script src="{{ url_for('static', filename='js/enums.js') }}"></script>
		<script src="{{ url_for('static', filename='js/status_codes.js') }}"></script>
		<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
		<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
		<script src="{{ url_for('static', filename='js/avatar.js') }}"></script>
		<script src="{{ url_for('static', filename='js/character.js') }}"></script>
		<!-- <script src="{{ url_for('static', filename='js/editor.js') }}"></script> -->
	</head>

	<!-- the data-... elements are called from js, they are automatically converted to camelCase -->
	<body
		onload="setOptPlaceholder()"

		data-edit-character-url="{{ url_for('edit', character_name = character.name) }}" 
		>
		<div class="container">
			<div class="card">

				<header style="display:flex; align-items:center; justify-content:space-between; gap:12px;">
					<div>
						<h1>{{ character.name }}</h1>
						<p hidden id="character_name">{{ character.name }}</p>
					</div>
					<!-- move the logout button to the top of the page, left of the navigation bar -->
					<div>
						<form method="post" action="{{ url_for('logout') }}" style="display:inline">
							<button class="danger">Logout</button>
						</form>
					</div>
				</header>
			
				<hr>

				<!-- card containing most important character properties -->
				<div class="card">
					<div class="avatar-wrapper" style="padding-top: 10px; padding-bottom: 10px;">
                        {% if avatar_url %}
						<div class="avatar-image">
                            <picture>
                                <img src="{{ avatar_url }}" alt="avatar" class="avatar">
                            </picture>
						</div>
                        {% endif %}

						<div class="grid" style="margin-left: 50px;">
							<div class="card">
								<strong>Tribe:</strong>

								{% if character.tribe in tribe_dict.keys() %}
									{% set ch_tribe_name = tribe_dict.get(character.tribe) %}
								{% else %}			
									{% set ch_tribe_name = 'None selected' %}
								{% endif %}				

								<span id="tribe">{{ ch_tribe_name }}</span>
							</div>

							<div class="card">
								<strong>Profession:</strong>

								{% if character.profession in profession_dict %}
									{% set ch_profession_name = profession_dict.get(character.profession) %}
								{% else %}			
									{% set ch_profession_name = 'None selected' %}
								{% endif %}				

								<span id="profession">{{ ch_profession_name }}</span>
							</div>

							<div class="card">
								<strong>Specialization:</strong>

								{% if character.specialization in specialization_dict %}
									{% set ch_specialization_name = specialization_dict.get(character.specialization) %}
								{% else %}
									{% set ch_specialization_name = 'None selected' %}
								{% endif %}				

								<span id="specialization">{{ ch_specialization_name }}</span>
							</div>
						</div>
					</div>
				</div>


				<h2>Character Attributes</h2>
				<div class="grid">
					<!-- {% if character.attributes and character.attribute_bonuses %} -->
					<div class="card">
							<table class="attributes">
								<thead>
									<tr>
										<th>Attribute</th>
										<th>Value</th>
										<th>Bonus</th>
									</tr>
								</thead>
								<tbody
									<tr>
										<td>Endurance</td>
										<td>
											{% set val_endurance = character.attributes.get(keys.Attributes.ENDURANCE, -1) %}
											<span id="prop-{{ keys.Attributes.ENDURANCE }}">{{ val_endurance }}</span>
										</td>
										<td>
											{% set val_endurance_bonus = character.attribute_bonuses.get(keys.Attributes.ENDURANCE_BONUS, -1) %}
											<span id="prop-{{ keys.Attributes.ENDURANCE_BONUS }}">{{ val_endurance_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Strength</td>
										<td>
											{% set val_strength = character.attributes.get(keys.Attributes.STRENGTH, -1) %}
											<span id="prop-{{ keys.Attributes.STRENGTH }}">{{ val_strength }}</span>
										</td>
										<td>
											{% set val_strength_bonus = character.attribute_bonuses.get(keys.Attributes.STRENGTH_BONUS, -1) %}
											<span id="prop-{{ keys.Attributes.STRENGTH_BONUS }}"> {{ val_strength_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Dexterity</td>
										<td>
											{% set val_dexterity = character.attributes.get(keys.Attributes.DEXTERITY, -1) %}
											<span id="prop-{{ keys.Attributes.DEXTERITY }}">{{ val_dexterity }}</span>
										</td>
										<td>
											{% set val_dexterity_bonus = character.attribute_bonuses.get(keys.Attributes.DEXTERITY_BONUS, -1) %}
											<span id="prop-{{ keys.Attributes.DEXTERITY_BONUS }}"> {{ val_dexterity_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Intelligence</td>
										<td>
											{% set val_intelligence = character.attributes.get(keys.Attributes.INTELLIGENCE, -1) %}
											<span id="prop-{{ keys.Attributes.INTELLIGENCE }}">{{ val_intelligence }}</span>
										</td>
										<td>
											{% set val_intelligence_bonus = character.attribute_bonuses.get(keys.Attributes.INTELLIGENCE_BONUS, -1) %}
											<span id="prop-{{ keys.Attributes.INTELLIGENCE_BONUS }}"> {{ val_intelligence_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Charisma</td>
										<td>
											{% set val_charisma = character.attributes.get(keys.Attributes.CHARISMA, -1) %}
											<span id="prop-{{ keys.Attributes.CHARISMA }}">{{ val_charisma }}</span>
										</td>
										<td>
											{% set val_charisma_bonus = character.attribute_bonuses.get(keys.Attributes.CHARISMA_BONUS, -1) %}
											<span id="prop-{{ keys.Attributes.CHARISMA_BONUS }}"> {{ val_charisma_bonus }}</span>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>Total</th>
										<th>
											{% set val_total_attribute_points = character.attribute_points.get(keys.Generic.TOTAL_POINTS, -1) %}
											<span id="prop-{{ keys.Generic.TOTAL_POINTS }}"> {{ val_total_attribute_points }}</span>
										</th>
										<th></th>
									</tr>
									<tr>
										<th>Remaining</th>
										<th>
											{% set val_remaining_attribute_points = character.attribute_points.get(keys.Generic.REMAINING_POINTS, -1) %}
											<span id="prop-{{ keys.Generic.REMAINING_POINTS }}"> {{ val_remaining_attribute_points }}</span>
										</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
					</div>
					<!-- {% endif %} -->
					
					<!-- {% if character.max_hp and character.current_hp %} -->
					<div class="card">
						<table class="history">
							<thead>
								<tr>
									<th>Max HP</th>
									<td>
										<span id="stat-{{keys.Statistics.MAX_HP}}">
											{{ character.max_hp }}
										</span>
									</td>
									<td></td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								{% for hp_entry in character.hp_history.get_entries() %}
									<tr>
										<td></td>
										<td>{{ hp_entry.value }}</td>
										<td>{{ hp_entry.description }}</td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Current HP</th>
									<td>
										<span id="stat-{{keys.Statistics.CURRENT_HP}}">
											{{ character.current_hp }}
										</span>
									</td>
									<td></td>
									<td></td>
								</tr>
								
							</tfoot>
						</table>
					</div>
					<!-- {% endif %} -->
				</div>


				<h2>Character Equipment</h2>
				<div class="grid">
					<div class="card">

						<strong>Armour</strong>

						<div class="grid">
							<!-- {% if character.equipped_armour %} -->

							{% for idx in range(0, max_armour_sets) %}

								{% set ch_armour_key = character.equipped_armour[idx] %}

								{% if armour_dict.get(ch_armour_key) %}
									{% set ch_armour_name = armour_dict.get(ch_armour_key) %}
								{% else %}
									{% set ch_armour_name = 'None equipped' %}
								{% endif %}

								{% if loop.first %}
									<span style="margin-top:10px; margin-left:15px">
								{% else %}
									<span style="margin-left:15px">
								{% endif %}
										{{idx + 1}}: {{ch_armour_name}}
									</span>
							{% endfor %}
							<!-- {% endif %} -->
						</div>

					</div>

					<div class="card">

						<strong>Weapons</strong>

							<div class="grid">
								<!-- {% if character.equipped_weapons %} -->

								{% for idx in range(0, max_nb_weapons) %}

									{% set ch_weapon_key = character.equipped_weapons[idx] %}

									{% if weapons_dict.get(ch_weapon_key) %}
										{% set ch_weapon_name = weapons_dict(ch_weapon_key) %}
									{% else %}			
										{% set ch_weapon_name = 'None equipped' %}
									{% endif %}				

									{% if loop.first %}
										<span style="margin-top:10px; margin-left:15px">
									{% else %}
										<span style="margin-left:15px">
									{% endif %}

										{{idx + 1}}: {{ch_weapon_name}}
									</span>
									<br>
								
								{% endfor %}
								<!-- {% endif %} -->
							</div>

					</div>
				</div>




				<!-- TODO -->
				<h2>Character Abilities</h2>
				<div class="grid">
					<div class="card">
						<strong>
							Max ability points: 
						</strong>
						<span id="ability-max_points">
							{% if character.max_ability_points %}
								{{ character.max_ability_points }}
							{% else %}
								None
							{% endif %}
						</span>
					</div>
					<div class="card">
						<strong>
							Available ability points: 
						</strong>
						<span id="ability-remaining_points">
							{% if character.remaining_ability_points %}
								{{ character.remaining_ability_points }}
							{% else %}
								None
							{% endif %}
						</span>
					</div>
				</div>


				<div class="card">
					{% if ability_list %}
					<table class="abilities">
						<thead>
							<tr>
								<th>Ability</th>
								<td>Level</td>
								<td>Cost per level up<br>1 level / 2 levels</td>
								<td>Max upgrades per level up</td>
							</tr>
						</thead>
						<tbody>
							{% for ability_key, ability_data in ability_list.items() %}
							{% set ch_ability = character.abilities[ability_key] %}
								<tr>
									<td>
										{{ ability_data[Strings.names.value] }}
									</td>
									<td>
										{% if ch_ability %}
										<span id="ability-{{ ability_key }}">
											{{ ch_ability[Strings.Abilities.level.value] }}
										</span>
										{% else %}
										<span id="ability-{{ ability_key }}">
											0
										</span>
										{% endif %}
									</td>
									<td>
										{% for cost in ability_data[Strings.Abilities.cost.value] %}
											{{ cost }} {{" / " if not loop.last }}
										{% endfor %}
									</td>
									<td>
										{{ ability_data[Strings.Abilities.max_upgrades_per_level.value] }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
				</div>


				<h2>Notes</h2>
				<textarea id="notes" rows="8" placeholder="Your Notes">{{ character.notes }}</textarea>
				<br>
				<button class="save" onclick="saveNotes()">Save Notes</button>

				<hr style="margin-top: 30px">


				<h2>Character Experience</h2>
				<div class="card">
					<!-- {% if character.level and character.experience %} -->
					<table class="history">
						<thead>
							<tr>
								<th>Current level</th>
								<td>
									<span id="stat-{{ keys.Statistics.LEVEL }}">
										{{ character.level }}
									</span>
								</td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for xp_entry in character.xp_history.get_entries() %}
								<tr>
									<td></td>
									<td>{{ xp_entry.value }}</td>
									<td>{{ xp_entry.description }}</td>
									<td></td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total experience</th>
								<td>
									<span id="stat-{{ keys.Statistics.EXPERIENCE }}">
										{{ character.experience }}
									</span>
								</td>
								<td></td>
								<td></td>
							</tr>
							
						</tfoot>
					</table>
					<!-- {% endif %} -->
				</div>
			</div>

			<div class="card" style="margin-top:12px">
				<div>
					<h2 style="margin-top: 5px; margin-bottom: 30px" >Character Editor</h2>
					<form method="get" action="{{ url_for('editor', character_name=character.name) }}">
						<button>Open editor</button>
					</form>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/enums.js') }}"></script>
		<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
		<script src="{{ url_for('static', filename='js/character.js') }}"></script>

	</body>
</html>

