<!doctype html>
<html lang="{{language}}">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Pen'n'Paperless">
		<title>
			{{ character.name }} — Overview
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>

	<body>
		<div class="container">
			<div class="card">

				<header style="display:flex; align-items:center; justify-content:space-between; gap:12px;">
					<div>
						<h1 id="character_name">{{ character.name }}</h1>
					</div>
					<!-- move the logout button to the top of the page, left of the navigation bar -->
					<div>
						<form method="post" action="{{ url_for('logout') }}" style="display:inline">
							<button type="submit" class="danger">Logout</button>
						</form>
					</div>
				</header>
			
				<!-- import javascript -->
				{% set flashed = get_flashed_messages(with_categories=True) %}
				<script id="flashed-data" type="application/json">{{ flashed|tojson }}</script>

				<hr>

				<!-- card containing most important character properties -->
				<div class="card">
					<div class="avatar-wrapper" style="padding-top: 10px; padding-bottom: 10px;">
                        {% if avatar_url %}
						<div class="avatar-image">
                            <picture>
                                <img src="{{ avatar_url }}" alt="avatar" class="avatar">
                            </picture>
						</div>
                        {% endif %}

						<div class="grid" style="margin-left: 50px;">
							<div class="card">
								<strong>Tribe:</strong>

								{% if character.tribe in tribe_dict.keys() %}
									{% set ch_tribe_name = tribe_dict.get(character.tribe) %}
								{% else %}			
									{% set ch_tribe_name = 'None selected' %}
								{% endif %}				

								<span id="tribe">{{ ch_tribe_name }}</span>
							</div>

							<div class="card">
								<strong>Profession:</strong>

								{% if character.profession in profession_dict %}
									{% set ch_profession_name = profession_dict.get(character.profession) %}
								{% else %}			
									{% set ch_profession_name = 'None selected' %}
								{% endif %}				

								<span id="profession">{{ ch_profession_name }}</span>
							</div>

							<div class="card">
								<strong>Specialization:</strong>

								{% if character.specialization in specialization_dict %}
									{% set ch_specialization_name = specialization_dict.get(character.specialization) %}
								{% else %}
									{% set ch_specialization_name = 'None selected' %}
								{% endif %}				

								<span id="specialization">{{ ch_specialization_name }}</span>
							</div>
						</div>
					</div>
				</div>


				<h2>Character Attributes</h2>
				
				<div class="grid">
					{% if character.attributes && character.attribute_bonuses %}
					<div class="card">
							<table class="attributes">
								<thead>
									<tr>
										<th>Attribute</th>
										<th>Value</th>
										<th>Bonus</th>
									</tr>
								</thead>
								<tbody
									<tr>
										<td>Endurance</td>
										<td>
											{% set val_endurance = character.attributes.get(keys.Attributes.ENDURANCE, -1) %}
											<span id="prop-{{ Strings.Attributes.endurance.value }}">{{ val_endurance }}</span>
										</td>
										<td>
											{% set val_endurance_bonus = character.attribute_bonuses.get(keys.Attributes.ENDURANCE_BONUS, -1) %}
											<span id="prop-{{ Strings.Attributes.endurance_bonus.value }}">{{ val_endurance_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Strength</td>
										<td>
											{% set val_strength = character.attributes.get(keys.Attributes.STRENGTH, -1) %}
											<span id="prop-{{ Strings.Attributes.strength.value }}">{{ val_strength }}</span>
										</td>
										<td>
											{% set val_strength_bonus = character.attribute_bonuses.get(keys.Attributes.STRENGTH_BONUS, -1) %}
											<span id="prop-{{ Strings.Attributes.strength_bonus.value }}"> {{ val_strength_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Dexterity</td>
										<td>
											{% set val_dexterity = character.attributes.get(keys.Attributes.DEXTERITY, -1) %}
											<span id="prop-{{ Strings.Attributes.dexterity.value }}">{{ val_dexterity }}</span>
										</td>
										<td>
											{% set val_dexterity_bonus = character.attribute_bonuses.get(keys.Attributes.DEXTERITY_BONUS, -1) %}
											<span id="prop-{{ Strings.Attributes.dexterity_bonus.value }}"> {{ val_dexterity_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Intelligence</td>
										<td>
											{% set val_intelligence = character.attributes.get(keys.Attributes.INTELLIGENCE, -1) %}
											<span id="prop-{{ Strings.Attributes.intelligence.value }}">{{ val_intelligence }}</span>
										</td>
										<td>
											{% set val_intelligence_bonus = character.attribute_bonuses.get(keys.Attributes.INTELLIGENCE_BONUS, -1) %}
											<span id="prop-{{ Strings.Attributes.intelligence_bonus.value }}"> {{ val_intelligence_bonus }}</span>
										</td>
									</tr>
									<tr>
										<td>Charisma</td>
										<td>
											{% set val_charisma = character.attributes.get(keys.Attributes.CHARISMA, -1) %}
											<span id="prop-{{ Strings.Attributes.charisma.value }}">{{ val_charisma }}</span>
										</td>
										<td>
											{% set val_charisma_bonus = character.attribute_bonuses.get(keys.Attributes.CHARISMA_BONUS, -1) %}
											<span id="prop-{{ Strings.Attributes.charisma_bonus.value }}"> {{ val_charisma_bonus }}</span>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>Total</th>
										<th>
											{% set val_used_attribute_points = character.attribute_points.get(keys.Generic.TOTAL_POINTS, -1) %}
											<span id="prop-{{ Strings.Attributes.used_attribute_points.value }}"> {{ val_used_attribute_points }}</span>
										</th>
										<th></th>
									</tr>
									<tr>
										<th>Remaining</th>
										<th>
											{% set val_remaining_attribute_points = character.attribute_points.get(keys.Generic.REMAINING_POINTS, -1) %}
											<span id="prop-{{ Strings.Attributes.remaining_attribute_points.value }}"> {{ val_remaining_attribute_points }}</span>
										</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
					</div>
					{% endif %}
					
					{% if character.max_hp && character.current_hp %}
					<div class="card">
						<table class="history">
							<thead>
								<tr>
									<th>Max HP</th>
									<td>
										<span id="stat-{{keys.Statistics.MAX_HP}}">
											{{ character.max_hp }}
										</span>
									</td>
									<td></td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								{% for hp_entry in character.hp_history.get_entries() %}
									<tr>
										<td></td>
										<td>{{ hp_entry.value }}</td>
										<td>{{ hp_entry.description }}</td>
										<td></td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Current HP</th>
									<td>
										<span id="stat-{{keys.Statistics.CURRENT_HP}}">
											{{ character.current_hp }}
										</span>
									</td>
									<td></td>
									<td></td>
								</tr>
								
							</tfoot>
						</table>
					</div>
					{% endif %}
				</div>


				<!-- all good until here -->



				<h2>Character Equipment</h2>
				<div class="grid">
					<div class="card">

						<strong>Armour</strong>

						<div class="grid">
							{% if character.armour %}

							{% for num_allowed_armour in range(0, max_armour_sets) %}

								{% set ch_armour_list = character.armour %}
								{% set ch_armour_key = ch_armour_list[num_allowed_armour] %}

								{% if armour_list[ch_armour_key] %}
									{% set ch_armour_name = armour_list[ch_armour_key] %}
								{% else %}			
									{% set ch_armour_name = 'Empty' %}
								{% endif %}				

									<span style="margin-top:10px; margin-left:10px">
										{{num_allowed_armour + 1}}: {{ch_armour_name}}
									</span>
							{% endfor %}
							{% endif %}
						</div>

					</div>

					<div class="card">

						<strong>Weapons</strong>

							<div class="grid">
								{% if character.weapons %}

								{% for num_allowed_weapon in range(0, max_nb_weapons) %}

									{% set ch_weapon_list = character.weapons %}
									{% set ch_weapon_key = ch_weapon_list[num_allowed_weapon] %}

									{% if weapon_list[ch_weapon_key] %}
										{% set ch_weapon_name = weapon_list[ch_weapon_key] %}
									{% else %}			
										{% set ch_weapon_name = 'Empty' %}
									{% endif %}				

									{% if loop.first %}
										<span style="margin-top:10px; margin-left:15px">
									{% else %}
										<span style="margin-left:15px">
									{% endif %}

										{{num_allowed_weapon + 1}}: {{ch_weapon_name}}
									</span>
									<br>
								
								{% endfor %}
								{% endif %}
							</div>

					</div>
				</div>





				<h2>Character Abilities</h2>
				<div class="grid">
					<div class="card">
						<strong>
							Max ability points: 
						</strong>
						<span id="ability-max_points">
							{% if character.max_ability_points %}
								{{ character.max_ability_points }}
							{% else %}
								None
							{% endif %}
						</span>
					</div>
					<div class="card">
						<strong>
							Available ability points: 
						</strong>
						<span id="ability-remaining_points">
							{% if character.remaining_ability_points %}
								{{ character.remaining_ability_points }}
							{% else %}
								None
							{% endif %}
						</span>
					</div>
				</div>


				<div class="card">
					{% if ability_list %}
					<table class="abilities">
						<thead>
							<tr>
								<th>Ability</th>
								<td>Level</td>
								<td>Cost per level up<br>1 level / 2 levels</td>
								<td>Max upgrades per level up</td>
							</tr>
						</thead>
						<tbody>
							{% for ability_key, ability_data in ability_list.items() %}
							{% set ch_ability = character.abilities[ability_key] %}
								<tr>
									<td>
										{{ ability_data[Strings.names.value] }}
									</td>
									<td>
										{% if ch_ability %}
										<span id="ability-{{ ability_key }}">
											{{ ch_ability[Strings.Abilities.level.value] }}
										</span>
										{% else %}
										<span id="ability-{{ ability_key }}">
											0
										</span>
										{% endif %}
									</td>
									<td>
										{% for cost in ability_data[Strings.Abilities.cost.value] %}
											{{ cost }} {{" / " if not loop.last }}
										{% endfor %}
									</td>
									<td>
										{{ ability_data[Strings.Abilities.max_upgrades_per_level.value] }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
				</div>


				<h2>Notes</h2>
				{% if character.notes %}
				<textarea id="notes" rows="8">{{ character.notes }}</textarea>
				<br>
				<button class="save" onclick="saveNotes()">Save Notes</button>
				{% endif %}

				<hr style="margin-top: 30px">


				<h2>Character Experience</h2>
				<div class="card">
					{% if character.level && character.experience %}
					<table class="history">
						<thead>
							<tr>
								<th>Current level</th>
								<td>
									<span id="stat-{{Strings.Statistics.level.value}}">
										{{ character.level }}
									</span>
								</td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for xp_entry in character.xp_history.get_entries() %}
								<tr>
									<td></td>
									<td>{{ xp_entry.value }}</td>
									<td>{{ xp_entry.description }}</td>
									<td></td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total experience</th>
								<td>
									<span id="stat-{{Strings.Statistics.experience.value}}">
										{{ character.experience }}
									</span>
								</td>
								<td></td>
								<td></td>
							</tr>
							
						</tfoot>
					</table>
					{% endif %}
				</div>
			</div>

			<div class="card" style="margin-top:12px">
				<div>
					<h2 style="margin-top: 5px; margin-bottom: 30px" >Character Editor</h2>
					<form method="get" action="{{ url_for('editor', character_name=character.name) }}">
						<button>Open editor</button>
					</form>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
		<script src="{{ url_for('static', filename='js/editor.js') }}"></script>

	</body>
</html>

